@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

:has(> .containerize) {
  container-type: inline-size;
}

@keyframes animateTitle {
  from {
  }
  to {
    transform: translateX(-30%);
  }
}
